<div class="container px-5 py-5">
    <h1>INGRESE PRODUCTOS</h1>
    <form action="/productos" method="POST">
        Nombre:<input class="form-control" type="text" name="nombre" />
        Precio:<input class="form-control" type="number" name="precio" />
        Imagen:<input class="form-control" type="text" name="imagen" />
        <button class="btn btn-primary mt-2">Agregar</button>
    </form>

    <div class="container px-5 py-5">
        <a href="/productos">Ver productos</a>
    </div>

</div>
