<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Productos</title>
</head>

<body>

    <div class="container px-5 py-5">
        <h1>VISTA PRODUCTOS</h1>
        <% if(productos.length> 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="table-dark" scope="col">Nombre</th>
                        <th class="table-dark" scope="col">Precio</th>
                        <th class="table-dark" scope="col">Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(producto=> { %>
                        <tr>
                            <td>
                                <%=producto.nombre %>
                            </td>
                            <td>
                                <%=producto.precio %>
                            </td>
                            <td>
                                <%=producto.imagen %>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        <% } else { %>
            <div class="p-3 mb-2 bg-danger text-white">No se encontraron productos</div>
        <% } %>
    </div>

    <div class="container px-5 py-5">
        <a href="/">Cargar Productos</a>
    </div>
</body>

</html>